.midsection {
    width: 100%;
    margin-bottom: 1em;
}

.header {
    margin-bottom: 0.4em;
}

.data {
    color: rgba(255,143,117,1);
    font-weight: 600;
}

.skills {
    width: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
}

.technology {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technologyIcon {
    font-size: 2.3em;
    margin-bottom: 0.2em;
}

