.header {
    color: whitesmoke;
    background: linear-gradient(180deg, rgb(255,103,133) 0%, rgb(255,143,117) 59%, rgb(255,182,101) 100%);
    width: 6%;
    letter-spacing: 0.1em;
    position: fixed;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    box-shadow: 2px 0px 1px rgb(245, 245, 245);
}

.navPanel {
    height: 100%;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



@media (min-width: 320px) and (max-width: 760px) {
    .header {
        height: 8%;
        width: 100%;
        letter-spacing: 0.1em;
        padding-top: 5%;
        padding-bottom: 5%;
        box-shadow: 2px 0px 1px rgb(245, 245, 245);
        position: fixed;
        bottom: 0px;
        z-index: 1;
    }
    .navPanel {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}
