@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900');

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: rgb(20, 28, 51);
    overscroll-behavior: none;
}


main {
    margin-left: 6%;
}

.section {
    padding: 0 10em;
    min-height: 100vh;
}

.section h1 {
    padding-top: 70px;
    margin-bottom: 0.7em;
    text-align: center;
    letter-spacing: 0.1em;
}

.section p {
    line-height: 1.5;
    text-align: justify;
    font-size: 18px;
}


