@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900');

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: rgb(39, 39, 46);
    overscroll-behavior: none;
}

main {
    padding: 1.5em;
    width: 60%;
    margin: 0 auto;
    height: 100%;
}

.section {
    margin-top: 5em;
    margin-bottom: 5em;
}

.section h1 {
    margin-bottom: 0.5em;
    text-align: center;
    letter-spacing: 0.1em;
}

.section p {
    line-height: 1.5;
    text-align: justify;
    font-size: 18px;
}


